
# ***** ***** ***** ***** Folder ***** ***** ***** *****
/temp
/template
/backup

test/

.cache
.virtual
.inputs
.packages
.private
.stories

node_modules

/app
/release

dist
out
output

.idea
# .vscode

# ***** ***** ***** ***** File ***** ***** ***** *****
.DS_Store
*.log
* copy.*

components.d.ts