
# ********************************* Folder *********************************
# 临时目录
# temp
backup

# 提交规范配置目录
.husky

# 主进程运行缓存目录
cache

# 运行环境目录
# bin
# 运行环境缓存目录
.cache

# 不被打包的 node_modules 依赖文件
node_modules.asar.unpacked

# 外部文件目录
builtin
external

# 隐私目录
private

# 项目依赖目录
node_modules

# 应用编译后的输出目录
/app

# 应用程序构建完毕后的存放位置
/release

# 编辑器配置目录
# .vscode
.idea

# 应用配置目录
local

# 其他输出
dist
out

# ********************************* File *********************************
# Mac 目录变更缓存文件
.DS_Store


# 项目依赖详情文件
package-lock.json


# 主进程调试输出详情
/log/debug.log

# 待办
TODO

# ********************************* Other *********************************
# 测试文件或目录
*test*