registry=https://registry.npmjs.org/
engine-strict=true
loglevel=verbose
save-dev=true
save-exact=true
# 废弃 (deprecated) - 可通过配置环境变量的方式来设置
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/