/* semantic color variables for this project */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-indigo: #2c3e50;
}

:root {
  --hy-text-light: var(--color-indigo);
  --hy-text-dark: var(--color-white);
}

:root {
  --app-header-height: 45px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-black);
    --color-text: var(--color-white);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-white);
    --color-text: var(--color-black);
  }
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
} */

body {
  width: 100vw;
  height: 100vh;
  font-size: 12px;
  overflow: hidden;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-base {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--color-background);
}

@supports (user-select: none) {
  body {
    -webkit-user-select: none; /* Safari/Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* 标准属性 */
  }
}
