/* 引入 tailwindcss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* css 模块 */
@import url('./var.css');
@import url('./font.css');
@import url('./media.css');
@import url('./vendor.css');
@import url('./loading.css');

body #root .root-wrapper {
  width: 100vw;
  height: 100vh;
  font: 600 14px var(--font-family);

  /* 禁止用户选择文本 */
  user-select: none;

  /* Electron 应用中用于指定可拖动窗口的区域的自定义属性。 drag | no-drag */
  app-region: drag;
}
