/* 引入 tailwindcss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* css 模块 */
@import url('./var.css');
@import url('./font.css');
@import url('./media.css');
@import url('./vendor.css');
@import url('./loading.css');

body {
  /* 禁止用户选择文本 */
  user-select: none;
  app-region: drag;
  font: 600 14px var(--font-family);
}
