/* 引入 tailwindcss */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* css 模块 */
@import url('./var.css');
@import url('./font.css');
@import url('./media.css');
@import url('./vendor.css');
@import url('./loading.css');
@import url('./scrollbar.css');

.drag {
  /* 
  app-region 是 Electron 中用于控制窗口交互行为的 CSS 属性，
  通常用于指定某个区域是窗口的拖动区域。
  可选值: drag | no-drag 
  */
  app-region: drag;
  /* 添加浏览器前缀确保 Electron 兼容性 */
  -webkit-app-region: drag;
}

.no-drag {
  app-region: no-drag;
  -webkit-app-region: no-drag;
}

body {
  width: 100vw;
  height: 100vh;
  font: 600 14px var(--font-family);

  /* 禁止用户选择文本 */
  user-select: none;

  /* background-color: transparent; */
  /* background-color: rgba(0, 0, 0, 0); */
}

#root,
.root-wrapper {
  width: 100%;
  height: 100%;
}
