/* 隐藏滚动条 */
.scrollbar-hide {
  -ms-overflow-style: none !important; /* IE 和 Edge */
  scrollbar-width: none !important; /* Firefox */

  /* 隐藏滚动条 */
  ::-webkit-scrollbar {
    width: 0 !important; /* 隐藏滚动条宽度 */
    height: 0 !important; /* 隐藏滚动条高度 */
  }

  /* 隐藏滚动条轨道 */
  ::-webkit-scrollbar-track {
    background: transparent !important;
  }

  /* 隐藏滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background: transparent !important;
  }
}
